.Chat-container {
  width: 24%;
  position: absolute;
  border: 1px solid #0084ff;
  height: 400px;
  right: 15px;
  bottom: 15px;
  text-align: center;
}
.Chat-row {
  height: 50px;
}
.Chat-column {
  height: 50px;
}
.Chat-body {
  padding-top: 20px;
  height: 200px;
}
.Chat-title {
  height: 40px;
}
.Chat-messages {
  border: 1px solid #0084ff;
  overflow: auto;
  height: 290px;
  position: relative;
  bottom: 0;
}
.Chat-footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}
.Chat-bubble-left {
  padding: 5px 10px 5px 10px;
  text-align: left;
  border-radius: 10px;
  background: #f0f0f0;
  position: relative;
  bottom: 0;
}
.Chat-bubble-right {
  text-align: right;
  padding: 5px 10px 5px 10px;
  background: #cce6ff;
  border-radius: 10px;
}
